{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}

    {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<meta name="keywords" content="{% block keywords %}

{% endblock %}">
<meta name="description" content="{% block description %}

{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <link href="/static/css/core.min.css" rel="stylesheet">
    <link href="/static/css/app.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    {% block css %}

    {% endblock css %}
    <link rel="apple-touch-icon" href="/static/img/favicon.png">
    <link rel="icon" href="/static/img/favicon.png">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?781d5a483cf2da53058819821e63fc60";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body data-provide="pace">

<div class="preloader"></div>
{#    <aside class="sidebar"></aside>#}
<header class="topbar topbar-expand-lg">
    <div class="topbar-left">
        <div class="dropdown topbar-menu-toggler">
              <span class="topbar-btn" data-toggle="dropdown" aria-expanded="false">
                  <i class="ti-layout-grid3-alt fs-16"></i></span>
            <div class="dropdown-menu dropdown-grid" x-placement="top-start" style="position: absolute; top: -294px; left: 0px; will-change: top, left;">
                <a class="dropdown-item" href="/">
                    <span class="ion-ios-home-outline fs-18"></span>
                    <span class="title">首页</span>
                </a>
                <a class="dropdown-item" href="#">
                    <span  class="ion-ios-list-outline fs-18"></span>
                    <span class="title">菜单</span>
                </a>
                <a class="dropdown-item" href="/">
                    <span  class="ion-ios-flask-outline fs-18"></span>
                    <span class="title">开发中</span>
                </a>
            </div>
        </div>
        <span class="topbar-brand"><a href="/"><img src="/static/img/logo.jpg" alt="菜谱大全"></a></span>




        <nav class="topbar-navigation">
            <ul class="menu">

                <li class="menu-item active">
                    <a class="menu-link" href="/">
                        <span class="icon ti-home"></span>
                        <span class="title">首页</span>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
    <div class="topbar-right">
        <div class="lookup lookup-circle lookup-right">
            <input type="text" class="search-input" name="s">
        </div>
    </div>
</header>

<main>

    {#      <aside class="aside"></aside>#}


    <div class="main-content">
        {% block content %}

        {% endblock content %}

    </div>
    <footer class="site-footer pt-50 pb-20">
          <div class="row gap-y">
            <div class="col-lg-5">
              <h5 class="text-uppercase fs-14 ls-1">关于菜谱大全</h5>
              <p class="text-justify"><strong>菜谱大全</strong>
                  是一个公开的免费的菜谱分享网页.
              </p>
            </div>

{#            <div class="col-6 col-md-4 col-lg-2 text-left1 text-lg-center1">#}
{#              <h5 class="text-uppercase fs-14 ls-1">Company</h5>#}
{#              <ul class="nav flex-column">#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">About us</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">How it works</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Terms of use</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Privacy policy</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Contact us</a>#}
{#                </li>#}
{#              </ul>#}
{#            </div>#}
{##}
{#            <div class="col-6 col-md-4 col-lg-2 text-left1 text-lg-center1">#}
{#              <h5 class="text-uppercase fs-14 ls-1">Support</h5>#}
{#              <ul class="nav flex-column">#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Help center</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Tutorials</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Forums</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Official blog</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Ask question</a>#}
{#                </li>#}
{#              </ul>#}
{#            </div>#}
{##}
{#            <div class="col-md-4 col-lg-3 text-left1 text-lg-center1">#}
{#              <h5 class="text-uppercase fs-14 ls-1">Newsletter</h5>#}
{#              <p><strong>Subscribe</strong> to our newsletter to receive news, updates, and special offers:</p>#}
{#              <br>#}
{#              <div class="form-group">#}
{#                <input type="text" class="form-control" placeholder="Enter your email address">#}
{#              </div>#}
{#              <button class="btn btn-primary btn-block" type="button"><i class="fa fa-paper-plane"></i> Subscribe</button>#}
{#            </div>#}
{##}
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 justify-content-center justify-content-md-start">
                <p>Copyright © 2018  <a href="/">菜谱大全</a>.  All rights reserved. <a href="http://www.miitbeian.gov.cn/">蜀ICP备15003720号-1 </a></p>

            </div>

            <div class="col-md-6">
{#              <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Terms of use</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">Privacy policy</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="#">About</a>#}
{#                </li>#}
{#              </ul>#}
            </div>
          </div>

        </footer>
</main>


<script src="/static/js/core.min.js"></script>
<script src="/static/js/app.min.js"></script>
<script src="/static/js/script.min.js"></script>
<script src="/static/js/style.min.js"></script>
{% block footer_script %}

{% endblock footer_script %}
</body>
</html>


