{% extends '../include/base.html' %}

{#{% block title %}#}
{#    菜谱大全#}
{#{% endblock %}#}
{##}
{#{% block keywords %}#}
{#    菜谱大全#}
{#{% endblock %}#}

{% block content %}

    <header class="header">
        <div class="header-info">
            <div class="left">
                <h2 class="header-title"><strong>全部分类</strong>
                    <small class="subtitle">在这里，查找你想要的一切菜谱吧！</small>
                </h2>
            </div>

            <div class="right">
                <form class="lookup lookup-circle lookup-lg lookup-right" target="index.html">
                    <input type="text" name="s">
                </form>
            </div>
        </div>
    </header>


    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>家常菜</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>早餐</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>蔬菜水果</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>烘焙甜品</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>水产海鲜</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>面食</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>蛋奶豆制品</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>减肥专题</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title"><strong>肉食动物</strong></h2>

                <div class="media-list media-list-hover media-list-divided">
                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                        <span class="title">New user registered in website.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
                        <span class="title">New payment has made through PayPal.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
                        <span class="title">CPU usage went above 80%.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
                        <span class="title">New rating has received.</span>
                    </a>

                    <a class="media media-single" href="#">
                        <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
                        <span class="title">Only %25 battery is available.</span>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}