{% extends '../include/base.html' %}
{% load staticfiles %}




<!-- Main -->


{% block content %}
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>{{ recipe.name }}</h1>
                </header>

                <span class="image col-xs-1"><img src={{ recipe.cover_img }} alt="{{ recipe.name }}" /></span>
                {% for step in recipe.recipestep_set.all %}
                    <hr class="major" />
                <p>{{ step.step_detail }}</p>

                {% endfor %}
                

            </section>
{% endblock content %}



<!-- Scripts -->
{% block footer_script %}
    <script src="{% static  "/js/jquery.min.js" %}"></script>
    <script src="{% static  "/js/skel.min.js" %}"></script>
    <script src="{% static  "/js/util.js" %}"></script>
    <!--[if lte IE 8]><script src="{% static  "/js/ie/respond.min.js" %}"></script><![endif]-->
    <script src="{% static  "/js/main.js" %}"></script>
{% endblock footer_script %}

