{% extends '../include/base.html' %}

{% block content %}
    <header class="header">
        <div class="header-info">
            <div class="left">
                <h2 class="header-title">{{ recipe.name }}</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    {% if first_cate %}
                        <li class="breadcrumb-item"><a href="#">{{ first_cate.name }}</a></li>
                    {% endif %}

                    <li class="breadcrumb-item active">{{ recipe.name }}</li>
                </ol>
            </div>
        </div>
    </header>
    <div class="card-columns">
        {% for step in recipe_steps %}
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title"><strong>第{{ step.step_order }}步</strong></h4>
                </header>
                <div class="card-body">

                    <p>{{ step.step_detail }}
                    </p>
                    <p><small>{{ step.add_time }}</small></p>
                </div>
                {% if step.image_url != '暂无' %}
                    <img class="card-img-top" src="{{ step.image_url }}" alt="Card image cap">
                {% endif %}


            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block footer_script %}

{% endblock %}