{% extends '../include/base.html' %}

{% block content %}
<div class="col-xs-12">
            <div class="card">
              <h4 class="card-title">With <strong>title</strong></h4>

              <div class="card-body">
                <p><code>h4.card-title</code></p>
                <p>Credibly harness multidisciplinary ideas via alternative e-commerce. Intrinsicly transition interdependent best practices before resource sucking outsourcing.</p>
              </div>
            </div>
          </div>
{% endblock %}
{% block footer_script %}

{% endblock %}