{% extends '../include/base.html' %}


{% block title %}
菜谱大全
{% endblock %}

{% block keywords %}
菜谱,美食,菜谱大全
{% endblock %}

{% block description %}
菜谱大全网提供最全面的菜谱,还可学会如何做东北菜,冀菜,豫菜,鄂菜,本帮菜,客家菜,赣菜,京菜,清真菜.
{% endblock %}


{% block content %}
<div class="card card-shadowed">
          <form class="lookup lookup-huge">
            <input class="no-radius no-border" type="text" placeholder="搜索你想要做的菜...">
          </form>
        </div>
{% endblock %}
{% block footer_script %}

{% endblock %}