{% extends '../include/base.html' %}


{% block title %}
菜谱大全
{% endblock %}

{% block keywords %}
{{ recipe.name }},{{ first_cate.name }}
{% endblock %}

{% block description %}
菜谱大全网提供最全面的{{ recipe.name }}做法,还可学会如何做{{ first_cate.name }}类的菜谱.
{% endblock %}


{% block content %}
<div class="card card-shadowed">
          <form class="lookup lookup-huge">
            <input class="no-radius no-border" type="text" placeholder="搜索你想要做的菜...">
          </form>
        </div>
{% endblock %}
{% block footer_script %}

{% endblock %}