{% extends '../include/base.html' %}


{% block title %}
    菜谱大全
{% endblock %}

{% block keywords %}
    {{ recipe.name }},{{ first_cate.name }}
{% endblock %}

{% block description %}
    菜谱大全网提供最全面的{{ recipe.name }}做法,还可学会如何做{{ first_cate.name }}类的菜谱.
{% endblock %}


{% block content %}
    <div class="card card-shadowed">
        <form class="lookup lookup-huge">
            <input class="no-radius no-border" type="text" placeholder="搜索你想要做的菜...">
        </form>
    </div>

    <div class="card">
    <div class="media-list media-list-divided media-list-hover">
        {% for x in result %}
            <div class="media media-single">
                <a  href="/recipe/{{ x.id }}">
                    {% if x.cover_img != '暂无' %}
                        <img src="{{ x.cover_img }}"  class="avatar avatar-xxxl">
                    {% else %}
                        <span class="avatar avatar-xxxl">暂无</span>
                    {% endif %}

                </a>
                <div class="media-body">
                    <a  href="/recipe/{{ x.id }}">
                        <h4 class="title">{{ x.name }}</h4>
                        <p>{{ x.brief }}</p>
                        <span>网友评分:{{ x.rate_score }}</span>
                    </a>
                </div>

            </div>
        {% endfor %}


        <nav class="mt-3">
            <ul class="pagination justify-content-center">
                {% if result.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/search/{{ key }}/{{ result.previous_page_number }}">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-left"></span>
                        </a>
                    </li>
                {% endif %}
                {% for x in result.page_nearby_range %}
                    {% if x == result.number %}
                        <li class="page-item active"><a class="page-link" href="#">{{ result.number }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/search/{{ key }}/{{ x }}">{{ x }}</a></li>

                    {% endif %}
                {% empty %}
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                {% endfor %}

                {% if result.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/search/{{ key }}/{{ result.next_page_number }}">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ti-arrow-right"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
{% endblock %}
{% block footer_script %}

{% endblock %}