<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="菜谱大全提供最全面的菜谱,还可以学会如何做川菜,东北菜,冀菜,豫菜,鄂菜,本帮菜,客家菜,赣菜,京菜,清真菜.">
    <meta name="keywords" content="菜谱大全,500">

    <title>服务器错误 &mdash; 菜谱大全</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="/static/css/core.min.css" rel="stylesheet">
    <link href="/static/css/app.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="icon" href="/static/img/favicon.png">
  </head>

  <body>


    <div class="row no-margin h-fullscreen" style="padding-top: 10%">

      <div class="col-12">
        <div class="card card-transparent mx-auto text-center">
          <h1 class="text-secondary lh-1" style="font-size: 200px">500</h1>
          <hr class="w-30px">
          <h3 class="text-uppercase">服务器错误</h3>

          <p class="lead">好像服务器报错了. 请稍后重试</p>
          <br>
          <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center fs-14">
            <li class="nav-item">
              <a class="nav-link" href="#">邮件联系我们</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">回到梦想最开始的地方</a>
            </li>
          </ul>
        </div>
      </div>


      <footer class="col-12 align-self-end text-center fs-13">
         <p>Copyright © 2018 <a href="/">菜谱大全</a>. All rights reserved.</p>
      </footer>
    </div>




    <!-- Scripts -->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/app.min.js"></script>
    <script src="/static/js/script.min.js"></script>

  </body>
</html>

